.catalog{
    padding: 15px 0 10px;
    display: flex;
}
.catalog-items{
    width: calc(100% - 90px);
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.catalog__title{
    width: 100%;
    margin-bottom: 25px;
}