.catalog{
    padding: 15px 0 10px;
    display: flex;
}
.catalog-items{
    width: calc(100% - 90px);
    padding-left: 15px;
}
.catalog__title{
    width: 100%;
    margin-bottom: 25px;
}
@media (max-width: 599px) {
    .catalog-items{
        width: 100%;
        padding-left: 0;
    }
}